

.desc {
	background-color:black; 
	color:white; 
	padding:20px;
	float: left;
}

#htmlForm {
	background-color:#FFF8DC; 
	color:black; 
	padding:50px;
}

h2 {
	 font-size: 30px;
	 font-style: italic;
	 
}
